__pycache__
local/
data/
refnerf/
result/
*.log
*.pyc
*.pkl
*.json
*.pt
*.pth
*.npy
*.h5
*.csv
*.db
*.sqlite
.ipynb_checkpoints/
*.egg-info/

build/
dist/
*.so
*.o
*.a
*.dylib
*.dll
*.pyd

*.cubin
*.fatbin
*.ptx

*/build/
*/dist/
**/*.egg-info/

*.tmp
*.temp
.DS_Store
Thumbs.db