imageio==2.31.2
imageio-ffmpeg==0.4.7
kornia==0.6.0
lpips==0.1.4
matplotlib==3.5.3
ninja==1.11.1.1
numpy
open3d==0.17.0
opencv-python==4.6.0.66
plyfile==0.9
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
torchmetrics==0.11.4
tqdm==4.66.1
